*, *:after, *:before
  box-sizing: border-box

.clearfix:after 
  content: ""
  display: table
  clear: both

.the-nav > ul
  display: block
  width: 100%
  @media screen and (max-width: 768px)
    //when the screen is small
    margin-top: 1rem
  li
    margin-bottom: 1rem
    &:last-of-type
      margin-bottom: 0

.the-header
  a
    text-decoration: none

a.resToggle
  display: none
  color: #FFF
  font-size: 14px
  line-height: 1.5
  font-weight: 600
  font-style: normal
  margin-top: 0.40rem
.the-nav
  display: inline-block
  float: right
  margin-bottom: -6rem
  li
    display: inline-block
    a 
      display: block
    

@media screen and (max-width: 768px) 
  a.resToggle  
    display: inline-block
    float: right
    

  .the-nav 
    display: none
    width: 100%
    margin-top: 2rem
    &.active 
      display: block
    li
      display: block
      text-align: center
      a

.align-center
  text-align: center