@import menu

$black: #27201D
$white: #FFFFFF
$gold: #796654

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: $black
    padding: 40px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: Georgia, 'Times New Roman', Times, serif
    background-image: url('/img/bg.png')
    background-repeat: no-repeat
    background-size: 100%
    background-attachment: fixed

.container
    width: 100%
    max-width: 1000px
    margin: 0 auto

.brand
  font-weight: 600
  font-size: 1.125rem
  font-style: italic
  text-transform: lowercase
  color: $white
  text-align: left
  display: block
  text-decoration: none

span
  color: $gold



.logo
    max-width: 760px
    width: 100%
    display: block
    margin: 4rem auto

h1
    font-size: 2rem
    color: $white
    line-height: 1.5
    font-weight: 400
    margin: 1rem auto 4rem
    //margin-top: -5px
    text-align: center
    font-style: italic
    max-width: 850px
    //border: 1px solid red
    //when screen is large
    @media screen and (min-width: 760px)
      text-align: center
      //margin: 4rem auto

h2
    color: $white
    font-size: 24px
    line-height: 1.5
    font-weight: 600
    margin-bottom: 1rem
    margin-top: -5px

p, ul, ol
    color: $white
    font-size: 20px
    line-height: 1.5
    font-weight: 400
    font-style: italic
    margin-bottom: 2rem

.button
  font-weight: 600
  font-size: 14px
  text-transform: uppercase
  color: $white
  border: 2px solid $gold
  padding: 20px
  text-align: center
  margin-bottom: 4rem
  cursor: pointer
  display: block
  text-decoration: none
  width: 100%
  transition: background 0.3s ease-in-out
  &:hover
    background-color: $gold
  //when screen is large
  @media screen and (min-width: 760px)
    width: 300px
    margin: 4rem auto

ul > li
  margin-left: 1.25rem

ol > li
  margin-left: 2rem

ol
  list-style-type: decimal-leading-zero

.text-center
  text-align: center

.link
    color: $white
    font-size: 20px
    line-height: 1.5
    font-weight: 400
    font-style: italic
    margin-bottom: 2rem
    transition: all .5s ease
    text-decoration: none
    border-bottom: 2px solid transparent
    padding-bottom: 5px
    &:hover
        //color: lighten($gold, 30%)
        border-bottom: 2px solid $gold
        padding-bottom: 5px

nav ul
    text-align: right
    display: block
    margin-bottom: 2rem
    //border: 1px solid red

nav ul li
    display: inline
    margin-right: 1rem
    &:last-of-type
        margin-right: 0

nav a
    color: $white
    font-size: 14px
    line-height: 1.5
    font-weight: 600
    font-style: normal
    margin-bottom: 2rem
    text-align: center
    cursor: pointer
    transition: all .5s ease
    //border-bottom: 2px solid transparent
    padding-bottom: 5px
    text-decoration: none
    text-transform: uppercase
    &:hover
        color: lighten($gold, 30%)
    @media screen and (min-width: 760px)
      margin-bottom: 0rem

.active
    //border-bottom: 2px solid $gold
    color: lighten($gold, 30%)
    padding-bottom: 5px
    &:hover
        color: lighten($gold, 30%)


.article
  display: flex
  flex-direction: column
  
  width: 100%
  max-width: 1000px
  margin: 0 auto 6rem
  //border: 1px solid red
.media
  flex: 0 0 40%
.content
  flex: 0 0 60%
  //padding: 1rem 0 0 0

img
  width: 100%
  margin-bottom: 2rem
  
//when screen is large
@media screen and (min-width: 760px)
  .article
    flex-direction: row
  .content
      padding: 0 0 0 2rem

