@import menu

$black: #27201D
$white: #FFFFFF
$gold: #796654

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: $black
    padding: 40px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: Georgia, 'Times New Roman', Times, serif
    background-image: url('../img/bg.png')
    background-repeat: no-repeat
    background-size: 100%
    background-attachment: fixed

.container
    width: 100%
    max-width: 1000px
    margin: 0 auto

.brand
  display: inline-block
  float: left
  color: $white
  font-size: 20px
  line-height: 1.5
  font-weight: 600
  font-style: italic

header
  display: inline-block
  max-width: 1000px
  width: 100%
  @media screen and (max-width: 768px)
    //when the screen is small

.menu-link
  display: inline-block
  color: $white
  font-size: 14px
  line-height: 2.5
  font-weight: 600
  font-style: normal
  text-decoration: none
  transition: all .5s ease
  border-bottom: 2px solid transparent
  &:hover
      border-bottom: 2px solid $gold
  @media screen and (max-width: 768px)
    &:hover
      border-bottom: 2px solid transparent
      color: $gold

.logo
    max-width: 50px
    width: 100%
    display: block
    margin: 1rem auto

.dot
    color: $gold

.bullet
  margin-left: 20px

h1
    font-size: 1.5rem
    color: $white
    line-height: 1.5
    font-weight: 400
    //margin: 5rem auto 7rem
    margin: 5rem auto 0
    text-align: center
    font-style: italic
    max-width: 850px
    //when screen is large
    @media screen and (min-width: 760px)
      text-align: center

h2
    color: $white
    font-size: 24px
    line-height: 1.5
    font-weight: 600
    margin-bottom: 1rem
    margin-top: -5px

p, ol, ul
    color: $white
    font-size: 20px
    line-height: 1.5
    font-weight: 400
    font-style: italic
    margin-bottom: 2rem

.btn
  font-weight: 600
  font-size: 14px
  text-transform: uppercase
  color: $white
  border: 2px solid $gold
  padding: 20px
  text-align: center
  cursor: pointer
  display: inline-block
  text-decoration: none
  width: 100%
  transition: background 0.3s ease-in-out
  &:last-of-type
    margin-bottom: 6rem
  &:hover
    background-color: $gold
  @media screen and (min-width: 760px)
    //when screen is large
    width: 300px
    margin: 0 1rem 6rem 0
.btn a
  color: $white
  font-size: 14px
  line-height: 2.5
  font-weight: 600
  font-style: normal
  text-decoration: none

.btn-group
  display: block
  margin: 0 auto
  text-align: center

.btn-center
  margin: 5rem auto
  text-align: center
  display: block

ul > li
  margin-left: 1.25rem
@media screen and (max-width: 768px)
  ul > li
    margin-left: 0

ol > li
  margin-left: 2rem

ol
  list-style-type: decimal-leading-zero

.text-center
  text-align: center

.link
    color: $white
    font-size: 20px
    line-height: 1.5
    font-weight: 400
    font-style: italic
    margin-bottom: 2rem
    transition: all .5s ease
    text-decoration: none
    border-bottom: 2px solid $gold
    padding-bottom: 5px
    &:hover
        padding-bottom: 5px
        color: $gold

.active
  border-bottom: 2px solid $gold
  @media screen and (max-width: 768px)
      border-bottom: 2px solid transparent
      color: $gold

.article
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1000px
  margin: 0 auto 6rem
.media
  flex: 0 0 40%
.content
  flex: 0 0 60%
.project
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1000px
  margin: 0 auto

img
  width: 100%
  margin-bottom: 2rem
  
//when screen is large
@media screen and (min-width: 760px)
  .article
    flex-direction: row
  .content
      padding: 0 0 0 2rem


