*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.the-nav > ul {
  display: block;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .the-nav > ul {
      margin-top: 1rem; } }
  .the-nav > ul li {
    margin-bottom: 1rem; }
    .the-nav > ul li:last-of-type {
      margin-bottom: 0; }

.the-header a {
  text-decoration: none; }

a.resToggle {
  display: none;
  color: #FFF;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  margin-top: 0.40rem; }

.the-nav {
  display: inline-block;
  float: right;
  margin-bottom: -6rem; }
  .the-nav li {
    display: inline-block; }
    .the-nav li a {
      display: block; }

@media screen and (max-width: 768px) {
  a.resToggle {
    display: inline-block;
    float: right; }
  .the-nav {
    display: none;
    width: 100%;
    margin-top: 2rem; }
    .the-nav.active {
      display: block; }
    .the-nav li {
      display: block;
      text-align: center; } }

.align-center {
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #27201D;
  padding: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.brand {
  display: inline-block;
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  font-style: italic; }

header {
  display: inline-block;
  max-width: 1000px;
  width: 100%; }

.menu-link {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 2.5;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border-bottom: 2px solid transparent; }
  .menu-link:hover {
    border-bottom: 2px solid #796654; }
  @media screen and (max-width: 768px) {
    .menu-link:hover {
      border-bottom: 2px solid transparent;
      color: #796654; } }

.logo {
  max-width: 50px;
  width: 100%;
  display: block;
  margin: 1rem auto; }

.dot {
  color: #796654; }

.bullet {
  margin-left: 20px; }

h1 {
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 400;
  margin: 5rem auto 0;
  text-align: center;
  font-style: italic;
  max-width: 850px; }
  @media screen and (min-width: 760px) {
    h1 {
      text-align: center; } }

h2 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: -5px; }

p, ol, ul {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem; }

.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #796654;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn:last-of-type {
    margin-bottom: 6rem; }
  .btn:hover {
    background-color: #796654; }
  @media screen and (min-width: 760px) {
    .btn {
      width: 300px;
      margin: 0 1rem 6rem 0; } }

.btn a {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 2.5;
  font-weight: 600;
  font-style: normal;
  text-decoration: none; }

.btn-group {
  display: block;
  margin: 0 auto;
  text-align: center; }

.btn-center {
  margin: 5rem auto;
  text-align: center;
  display: block; }

ul > li {
  margin-left: 1.25rem; }

@media screen and (max-width: 768px) {
  ul > li {
    margin-left: 0; } }

ol > li {
  margin-left: 2rem; }

ol {
  list-style-type: decimal-leading-zero; }

.text-center {
  text-align: center; }

.link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  border-bottom: 2px solid #796654;
  padding-bottom: 5px; }
  .link:hover {
    padding-bottom: 5px;
    color: #796654; }

.active {
  border-bottom: 2px solid #796654; }
  @media screen and (max-width: 768px) {
    .active {
      border-bottom: 2px solid transparent;
      color: #796654; } }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 6rem; }

.media {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }

.content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

img {
  width: 100%;
  margin-bottom: 2rem; }

@media screen and (min-width: 760px) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .content {
    padding: 0 0 0 2rem; } }
